.idea/
*__pycache__/

.cache/
.credentials/
DataAndLogs/
ElectronFrontend/node_modules/
MusicCache/
PythonCore/src/streamer_specific_modules/
PythonCore/n0tb0tvenv
PythonCore/config.py

*.json
!client_secret.json
!ElectronFrontend/package.json
!ElectronFrontend/tsconfig.json
!ElectronFrontend/typings.json

*.txt
!PythonCore/requirements.txt
