<!DOCTYPE html>
<html>
<head>
<title>Song Requests</title>
<link rel="stylesheet" href="../static/CSS/audio.css">
</head>
<body>

<ul id="navbar">
    <li><a class="nav-link" href="Index.html">Home</a></li>
    <li><a class="nav-link" href="AudioPlayer.html">Music</a></li>
</ul>

<div id="currently_playing">
    <div>
        <span>Title: </span><span id="title_span"></span>
    </div>
    <audio id="music_player" autoplay controls>
        <source id="audio_source" src="/next_song">
        Your browser does not support the audio element.
    </audio>
    <div>
        <button type="button" id="skip_button" onclick="nextSong()">Skip</button>
    </div>
</div>
<div id="queue">
    <span id="queue-span">Queue:</span>
    <ol>
        <li class="song-li">
            <div class="song">{{ song }}{# song.title eventually #}</div>
            <div class="remove_button_div"><button type="button" class="remove_button" onclick="nextSong()">Remove</button></div>
        </li>
    </ol>
</div>
</body>

<script src="/static/JavaScript/music.js"></script>
</html>