<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>n0tb0t</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<body>
    <h1 id="PageTitle">
        n0tb0t
    </h1>
    <div class="allBoxes">
        <a href="MusicPlayer.html">
            <div id="toDo1" class="box">
            <h3 class="titles" id="songReq">
                Song Requests
            </h3>
            <p class= "boxBody">This is where the Song Requests are housed, inside you will find:</p>
                <ul id= "AudioList">
                    <li>The Music Player</li>
                    <li>The Song Queue</li>
                    <li>The Current Song</li>
                </ul>
            </div>
        </a>
        <div id="toDo2" class="box">
            <h3 class="titles" id="Title2">
                You can also:
            </h3>
            <p class="boxBody">
                Try out these other things while you are here.
            </p>
        </div>
        <div id="toDo3" class="box">
            <h3 class="titles" id="Title3">
                You can also:
            </h3>
            <p class="boxBody">
                Try out these other things while you are here.
            </p>
        </div>
        <div id="toDo4" class="box">
            <h3 class="titles" id="Title4">
                You can also:
            </h3>
            <p class="boxoBody">
                Try out these other things while you are here.
            </p>
        </div>
        <div id="toDo5" class="box">
            <h3 class="titles" id="Title5">
                You can also:
            </h3>
            <p class="boxBody">
                Try out these other things while you are here.
            </p>
        </div>
        <div id="toDo6" class="box">
            <h3 class="titles" id="Title6">
                You can also:
            </h3>
            <p class="boxBody">
                Try out these other things while you are here.
            </p>
        </div>
    </div>
    <div class="strmrOpt">

    </div>

</body>
    <script>
    // You can also require other files to run in this process
    require('../Renderer.js')
    </script>
</html>
